<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ bootstrap.load_css() }}
    <title>{{ image.title }}</title>
</head>
<body>
    <!-- The images title "by" images author -->
    <h1>{{ image.title }} by {{ image.flickr_user }}</h1>
    <!-- The image clicked on, again -->
    <img src="{{ url_for('static', filename='images/' ~ image.id ~ '.jpg') }}">
    <!-- Output the image's information/details -->
    <p>The Mode is {{ mode }}, Format is {{ img_format }}, Width is {{ width }} and Height is {{ height }} in pixels.</p>
    <!-- The link back to the home page! -->
    <p><a href="{{ url_for('index') }}">Go Back to Home Page</a></p>
    {{ bootstrap.load_js() }}
</body>
</html>