<!doctype html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>Playlist Results</title>
      {{ bootstrap.load_css() }}

  </head>
<body>

    <div class ="container">
        <h1> Here is the playlist!</h1>

        <ul>    
            {% for i in playlist %}
            <li>{{i.song}} with genre of {{ i.genre }}</li>
            {% endfor %}
        </ul>
        <a href="{{ url_for('index')}}">Take me home</a>
    </div>
    
</body>
</html>